<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="back">
      <!--<%= link_to image_tag('logo.jpg', height: 100, width: 200), homes_path %>-->
      <%= link_to 'Home', homes_path %>
    </div>
    <div class="links">
        <%= link_to 'Photos', photos_path %>
        <%= link_to 'About Me', about_mes_path %>
        <%= link_to 'Resume', resumes_path %>
    </div>

  <hr width="35%" height="5px" align="center" color="#000">
  <br>

    <h1>About Me</h1>
    <!--hr width="90%" height="5px" align="left" color="#000"-->
    <br>
    <div class="about_text">
    <h2 class="questions"><strong>WHO AM I?</strong></h2>
    <p class="text">Hi there! I’m Liam Neville a 20 year old software developer out of Davis California.
      I graduated from Davis High School in 2015 and am in my Junior year at Vassar College where I am receiving a degree
      in Computer Science with a Minor in Math. I also play Lacrosse at the Division III
      level for the Vassar Brewers who have been ranked as high as #20 in the nation in 2017.
      In high school I loved the debate team, where I was partnered with my best friend and
      where I met my girlfriend of nearly four years now. It taught me how to be confident,
      articulate and formulate intelligent arguments in only 20 minutes before we were
      asked to debate a point of view we may or may not have agreed with. I believe
      that the debate team helped prepare me for a life in the tech world because it
      helped me develop the tools necessary to explain complex material in a digestible
      brief way that I find is often lacking in the computer science world. With my
      speaking ability, willingness to working with others, and strong foundation in computing
      logic I believe that I will be seen as incredibly versatile in the software development industry.
    </p>

    <h2 class="questions"><strong> WHY DO I LOVE COMPUTER SCIENCE?</strong></h2>
    <p class="text">
      I love computer science because there are countless ways of approaching and
      correctly solving the same problem. Computer science fuses the concrete nature
      of math with the creativity of prose. I find it as fascinating to read another’s
      code to understand how he or she solved a problem as I do tackling the problem on my own.
      There are always new languages, new algorithms, new ways to optimize old code and
      infinite applications to create. What I love most about computer science is that the
      learning doesn’t end when the lecture ends. Instead, the end of the lecture is only
      the beginning of exciting programming possibilities.
    </p>

    <h2 class="questions"><strong>HOW TO CONTACT ME</strong></h2>
    <p class="text"> &bull; Email: lineville@vassar.edu</p>
    <p class="text"> &bull; Cell: (530)-204-7340 </p>
    <p class="text"> &bull; <%= link_to('Link to my GitHub', 'https://github.com/lineville', target: "_blank") %></p>
  </div>
    <br>
    <footer>
      Copyright Licensed By Liam Neville
      <br>
      Site built on Ruby on Rails 5 Framework
  </footer>

  </body>
</html>
