<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="back">
    <%= link_to 'Home', homes_path %>
  </div>
  <div class="links">
      <%= link_to 'Photos', photos_path %>
      <%= link_to 'About Me', about_mes_path %>
      <%= link_to 'Resume', resumes_path %>
  </div>

<hr width="35%" height="5px" align="center" color="#000">
<br>

    <h1>Photos</h1>
    <!--hr width="90%" height="5px" align="left" color="#000"-->
    <br>
    <div class="image_list">
      <!--<%= image_tag('laxpic.jpg', :size => '480x300')%>

      <%= image_tag('mompic.jpg', :size => '480x360')%>

      <%= image_tag('limekiln/profpic.jpg', :size => '333x444')%>

      <%= image_tag('dadpic.jpg', :size => '288x384')%>-->
      <%= image_tag('collage.png') %>

    </div>


    <br>
    <footer>
      Copyright Licensed By Liam Neville
      <br>
      Site built on Ruby on Rails 5 Framework
  </footer>

  </body>
</html>
