<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="back">
    <%= link_to 'Home', homes_path %>
  </div>

    <h1>My Photos Page</h1>
    <hr width="90%" height="5px" align="left" color="#ff8330">
    <div class="image_list">
    <ul>
    <li>
      <%= image_tag('laxpic.jpg', :size => '600x375')%>
    </li>
    <li>
      <%= image_tag('mompic.jpg', :size => '480x360')%>
    </li>
    <li>
      <%= image_tag('limekiln/profpic.jpg', :size => '333x444')%>
    </li>
    <li>
      <%= image_tag('dadpic.jpg', :size => '288x384')%>
    </li>
  </ul>
</div>


    <br>
    <footer>
      Copyright Licensed By Liam Neville
  </footer>

  </body>
</html>
