<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>

<body>
  <p id="notice"><%= notice %></p>


<div class="back">
  <%= link_to 'Home', homes_path %>
</div>

  <h1>Resume</h1>
  <hr width="90%" height="5px" align="left" color="#ff8330">
  <!--<a href="liam_resume.html" target="_blank">Resume (HTML)</a>-->
  <div class="download">
  <a href="liam_resume.pdf" download>Click Me to Download PDF</a>
</div>
<div class="resume">

<p class="myname"><strong>Liam G. Neville</strong></p>
<p>124 Raymond Ave Vassar College PO 2986, Poughkeepsie, NY 12604 &bull; (530) 204-7340 &bull; lineville@vassar.edu</p>

<h2><strong><%= image_tag('notebook.png')%> EDUCATION</strong></h2>
<p class="place"><strong>Vassar College | Poughkeepsie, NY</strong><strong> </strong></p>
<p><strong><em>Declared Major in Computer Science with Minor in Mathematics</em></strong> Graduating Class of 2019</p>
<p>Overall GPA: 3.50</p>
<p>CS Department GPA: 3.60</p>

<h2><strong><%= image_tag('test-results.png')%> RELEVANT COURSEWORK</strong></h2>
<p class="place"><strong>Vassar College | Poughkeepsie, NY </strong> August 2015 &ndash; Spring 2017</p>
<ul>
<li> &bull; Computer Science 101 Grade: A (Language: Dr.Racket/Dr.Scheme)</li>
<li> &bull; Computer Science 102 Grade: A (Language: Java)</li>
<li> &bull; Multivariable Calculus Grade: A-</li>
<li> &bull; Linear Algebra Grade: B</li>
<li> &bull; Computer Science 145: (Foundations of Computer Science) Grade: A-</li>
<li> &bull; Computer Science 203: (CSIII Software Design and Implementation in Java): B</li>
</ul>
<p></p>

<h2><strong><%= image_tag('professional-presenting-a-report.png')%> PROFESSIONAL EXPERIENCE</strong></h2>
<p class="place"><strong>Beehively | Davis, CA</strong></p>
<p class="job"><strong><em>Technology Services Associate </em></strong>May 2017 &ndash; Present</p>
<ul>
<li>&bull; Web development testing and quality assurance.</li>
<li>&bull; Customer support through web services and Google Admin management.</li>
<li>&bull; Made updates and fixes to public websites for dozens of schools across California.</li>
</ul>
<p></p>
<hr color="#000" width="50%" align="left">
<p class="place"><strong>Vassar College | Poughkeepsie, NY</strong></p>
<p class="job"><strong><em>Computer Science Department Coach for CMPU-101-02 </em></strong>August 2016 &ndash; Present</p>
<ul>
<li>&bull; Guided a class of 25 students through their weekly lab assignments.</li>
<li>&bull; Led office hour sessions for 9 hours a week to assist students with their projects and labs.</li>
<li>&bull; Proctored midterm examinations to ensure testing integrity.</li>
</ul>
<p></p>
<hr color="#000" width="50%" align="left">
<p class="place"><strong>Encore Lacrosse | San Francisco, CA </strong></p>
<p class="job"><strong><em>Coach of Sacramento/East Bay Aces Lacrosse U-17 Team </em></strong>&nbsp;June 2016 - Present</p>
<ul>
<li>&bull; Head Coached the Aces Under 17 Blitz team of 23 players.</li>
<li>&bull; Moderated conflicts and disputes between team members and provided leadership.</li>
<li>&bull; Led the Blitz team to be the most improved team in the Sacramento branch of Encore.</li>
</ul>

<h2><strong><%= image_tag('trophy.png')%> LEADERSHIP AND EXTRACURRICULARS</strong></h2>
<p></p>
<p class="place"><strong>Vassar Men&rsquo;s Lacrosse | Poughkeepsie, NY</strong></p>
<p class="job"><strong><em>Sophomore Offensive Midfielder</em></strong> August 2015 &ndash; Present</p>
<ul>
<li>&bull; Lead the team&rsquo;s second line of midfielders for the program&rsquo;s winningest season in history (2015-2016)</li>
<li>&bull; Volunteered for a 5-mile community service hike to assist the local forest rangers maintain trails.</li>
<li>&bull; Hosted several prospective student-athletes</li>
</ul>
<p></p>
<hr color="#000" width="50%" align="left">
<p class="place"><strong>Yolo County Children&rsquo;s Alliance | Davis/West Sacramento, CA</strong></p>
<p class="job"><strong><em>Volunteer Receptionist/Translator </em></strong>Jun 2012 &ndash; August 2014</p>
<ul>
<li>&bull; Assisted customers with questions over the phone in English and Spanish to direct them to the appropriate department.</li>
<li>&bull; Volunteered with food distribution at the West Sacramento Food Bank.</li>
<li>&bull; Managed Time sheets and payroll information for the Davis Branch.</li>
</ul>

<h2><strong><%= image_tag('coding.png')%> SKILLS AND INTERESTS</strong></h2>
<p>&bull; Technical: Ruby, Ruby on Rails, HTML/CSS, Python, SQL, Unix, Java. Calculus, Writing</p>
<p>&bull; Language: English, Spanish</p>
<p>&bull; Interests: Lacrosse, Computer Programming</p>

</div>

<br>
<footer>
  Copyright Licensed By Liam Neville
  <br>
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
  </div>
</footer>

</body>
</html>
