<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="links">
        <%= link_to 'Photos', photos_path %>
        <%= link_to 'About Me', about_mes_path %>
        <%= link_to 'Resume', resumes_path %>
    </div>

  <hr width="35%" height="5px" align="center" color="#000">
  <br>

    <br>

    <div class="header">
    <div class="name">Liam Neville
    </div>
    <br>
    <div class="subhead"><span>Software Development <%= image_tag('browser.png') %>
      Web Design <%= image_tag('paint-brush.png') %>
      Tech Consulting</span>
    </div>
  </div>

    <footer>
      Copyright Licensed By Liam Neville
      <br>
      Site built on Ruby on Rails 5 Framework
      <br>
      <div style="font-size: 8px">Icons made by <a style="none" href="http://www.freepik.com" title="Freepik">Freepik</a>
        from <a style="none" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
        target="_blank">CC 3.0 BY</a>
  </footer>

  </body>

</html>
