<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <div class="header">
    <h1>Liam's Home Page</h1>
  </div>
    <!--<table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @homes.each do |home| %>
          <tr>
            <td><%= link_to 'Show', home %></td>
            <td><%= link_to 'Edit', edit_homes_path(home) %></td>
            <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>-->
    <div class="links">
        <%= link_to 'Photos', photos_path %>
        <%= link_to 'About Me', about_mes_path %>
        <%= link_to 'Resume', resumes_path %>
  </div>
  </body>

</html>
